<div class="col-md-3">
    <div>
        <p>Customers</p>

        <div class="list-group">
            <a href="/customers" class="list-group-item">Get Customers</a>
            <a href="/customer/add" class="list-group-item">Add Customers</a>
            <a href="javascript:void(0)" class="list-group-item">Other</a>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div>
      Welcome to customers screen page. <br/>
        <p>
            If you are an auhtenticated user, you will be landing to this page. 
            Else to default page
        </p>
    </div>
</div>